@import "../../shared/scss-variables-mixins/variables-mixins.scss";

.main__content {
  height: calc(100vh - 60px);
  overflow-y: auto;
}

.status__filter {
  margin-bottom: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.is__closed {
  opacity: .7;
  transition: all .3s linear;

  .restore__order__btn {
    background-color: $material-blue-dark;
    color: white;
  }
}

.search__container {
  @include display-flex(column, center, center);

  .input__search__container {
    width: 300px;
    margin: 15px auto 0 auto;
  }
}


.client__order {
  @include max-width(800px);
   margin: 0 auto 20px auto;
   position: relative;
   border-top: 5px solid $material-blue-dark;

  .order__card__category__header {
    margin: 25px 0 10px 15px;
  }

  .btn__edit__order__card,
  .btn__add__order {
    position: absolute;
    right: 30px;
  }

  .btn__edit__order__card {
    top: 30px;
  }

  .btn__add__order {
    top: 110px;
  }

  // EXPANSION PANEL
  .order__history__container {
    .order {
      margin: 20px 0;
      .order__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .used__details__title {
        margin-top: 35px;
        margin-bottom: 0;
      }

    }
  }

  .client__info__table tr td,
  .car__info__table tr td {
    padding: 5px 20px;

    &:first-child {
      font-weight: bold;
    }
  }

  .detail__info__table {
    margin-top: 15px;

    tr td,
    tr th {
      padding: 5px 20px;
      text-align: left;
    }

    tr:last-child td {
      font-weight: bold;
    }
  }

  .control__panel {
    display: flex;
    justify-content: flex-end;

    .close__order__btn {
      color: white;
      background-color: $material-red;
    }
  }
}

.btn__add__new__order {
  position: relative;
  transform: translateX(-50%);
  margin: 30px 0 30px 50%;
}
