<nav>
  <app-user-navbar></app-user-navbar>
</nav>

<div class="main__content">
  <div class="search__container">
    <mat-form-field appearance="outline" class="input__search__container">
      <mat-label>Пошук</mat-label>
      <input matInput *ngIf="searchBySelected === 'vinCode'" [(ngModel)]="searchValue.carInfo.vinCode" placeholder="Пошук за vin-кодом" autocomplete="off">
      <input matInput *ngIf="searchBySelected === 'carNumber'" [(ngModel)]="searchValue.carInfo.carNumber" placeholder="Пошук за номером авто" autocomplete="off">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-form-field class="input__search__container">
      <mat-label>Пошук за</mat-label>
      <mat-select [(value)]="searchBySelected" (selectionChange)="clearSearchValue()">
        <mat-option *ngFor="let option of searchBySelectedOptions" value="{{ option.value }}">{{ option.title }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-button-toggle-group
    [(ngModel)]="searchValue.clientInfo.status"
    #statusGroup="matButtonToggleGroup"
    [value]="searchValue.clientInfo.status"
    class="status__filter">
    <mat-button-toggle value="open">Актуальні</mat-button-toggle>
    <mat-button-toggle value="close">Виконанні</mat-button-toggle>
  </mat-button-toggle-group>

<!--  ORDER CARD -->
  <mat-card *ngFor="let client of clients | filterBy: searchValue" class="client__order"
            [class.is__closed]="client.clientInfo.status === 'closed'">
    <mat-card-header>
      <mat-card-title class="client__order__title">
        <p>Vin-код: {{ client.carInfo.vinCode }}</p>
        <p>Державний номер: {{ client.carInfo.carNumber }}</p>
      </mat-card-title>
<!--      CONTROL PANEL-->
      <button mat-fab (click)="editClientCard(client)" matTooltip="Редагувати картку клієнта" color="primary" class="btn__edit__order__card">
        <mat-icon aria-label="Редагувати картку замовлення">edit</mat-icon>
      </button>
      <button mat-fab (click)="addOrderToOrderCard(client)" matTooltip="Додати нове замовлення" color="accent" class="btn__add__order">
        <mat-icon aria-label="Додати нове замовлення">add</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <h4 class="order__card__category__header">Загальна інформація про клієнта</h4>
      <table class="client__info__table">
        <tr>
          <td>ПІБ клієнта:</td>
          <td>{{ client.clientInfo.name }}</td>
        </tr>
        <tr>
          <td>Номер телефону:</td>
          <td>{{ client.clientInfo.phoneNumber }}</td>
        </tr>
      </table>

      <h4 class="order__card__category__header">Інформація про авто</h4>
      <table class="car__info__table">
        <tr>
          <td>Марка:</td>
          <td>{{ client.carInfo.marque }}</td>
        </tr>
        <tr>
          <td>Модель:</td>
          <td>{{ client.carInfo.model }}</td>
        </tr>
        <tr>
          <td>Рік:</td>
          <td>{{ client.carInfo.carYear }}</td>
        </tr>
        <tr>
          <td>Пробіг:</td>
          <td>{{ client.carInfo.miles }}</td>
        </tr>
      </table>

      <h4 class="order__card__category__header">Історія виконаних робіт</h4>
      <mat-accordion class="order__history__container">
        <mat-expansion-panel *ngFor="let order of client.orders" class="order" hideToggle>
          <mat-expansion-panel-header class="order__header">
            <mat-panel-title>Дата: &nbsp;{{ order.orderDate }}</mat-panel-title>
            <mat-panel-description>Загільна ціна: {{ order.totalCost }} ГРН</mat-panel-description>
            <span>Майстер: {{ order.workInfo.craftsManName }}</span>
          </mat-expansion-panel-header>
          <h3>Виконана робота</h3>
          <p>{{ order.workInfo.doneWork }}</p>
          <b>Вартість виконаної роботи: {{ order.totalCost }} ГРН</b>
          <h3 class="used__details__title">Використані деталі:</h3>
          <table *ngIf="order.carDetailsInfo.carDetails != undefined; else noDetails" class="detail__info__table">
            <tr>
              <th>Назва</th>
              <th>Ціна</th>
            </tr>
            <tr *ngFor="let detail of order.carDetailsInfo.carDetails">
              <td>{{ detail.name }}</td>
              <td>{{ detail.cost }}</td>
            </tr>
            <tr>
              <td>Загальна вартість деталей</td>
              <td>{{ order.carDetailsInfo.totalDetailCost }} Грн</td>
            </tr>
          </table>
          <ng-template #noDetails>
            <p>Деталі не були використані</p>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>

    <mat-card-actions class="control__panel">
      <button
        *ngIf="client.clientInfo.status === 'closed'; else newOrder"
        mat-button
        class="restore__order__btn"
        (click)="changeStatusOfClient(client)"
      >Відмітити як актуальне
      </button>
      <ng-template #newOrder>
        <button mat-button class="close__order__btn" (click)="changeStatusOfClient(client)">Відмітити як виконане
        </button>
      </ng-template>
    </mat-card-actions>
  </mat-card>
</div>
