@import "../../shared/scss-variables-mixins/variables-mixins.scss";

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 60px;
  background-color: $material-blue;

  button {
    flex-grow: 1;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
    transition: background-color .3s linear;

    &:hover {
      background-color: $material-blue-dark;
    }

    &.active__link {
      background-color: $material-blue-dark;
      border-bottom: 2px solid white;
    }
  }

  .logout__btn {
    font-weight: bold;
    color: white;
    margin: 0 20px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

}

