.cardetail__info {
  width: 100%;
  margin-bottom: 20px;

  .cardetail__info__input__wrapper {
    display: flex;
    justify-content: space-between;

    mat-form-field {
      width: 48%;
    }
  }

}

.added__details {
  width: 100%;
  height: 140px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid lightgray;
  border-radius: 4px;

  .detail__chip {
    margin: 10px;
  }

  .detail__cost {
    font-weight: bold;
    margin: 10px;
  }

  .detail__delete {
    font-weight: bold;
    color: lightgray;
    background-color: darkgray;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
}
