<div class="cardetail__info">
  <div class="cardetail__info__input__wrapper">
    <mat-form-field>
      <input matInput #detailName placeholder="Назва" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" mask="separator" #detailCost placeholder="Ціна" autocomplete="off">
    </mat-form-field>
  </div>
  <div class="cardetail__info__control__panel">
    <button
      mat-stroked-button
      color="primary"
      type="button"
      (click)="addNewDetail(detailName, detailCost)">Додати запчастину
    </button>
  </div>
</div>

<div class="added__details">
  <mat-chip-list class="detail">
    <mat-chip
      *ngFor="let carDetail of carDetails"
      class="detail__chip">{{ carDetail.name }} <span class="detail__cost">{{ carDetail.cost }} Грн</span>
      <button (click)="deleteDetail(carDetail.id)" class="detail__delete">✖</button>
    </mat-chip>
  </mat-chip-list>
</div>

<h4 class="total__details__cost">Загальна вартість делатей: {{ totalDetailCost }} Грн</h4>
