@import "../../shared/scss-variables-mixins/variables-mixins.scss";

.main__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:
    linear-gradient(to right top, #acaced, #9d9ce6, #8f8cde, #817dd6, #736dce, #6b63d0, #6259d1, #5a4fd2, #5546dd, #503de7, #4b30f1, #471ffa);

  .login__card {
    @include max-width(350px);
    margin: 50px;
    min-height: 220px;
    .login__content {
      @include display-flex(column, space-around, center);
      .login__field {
        width: 100%;
        min-width: 300px;
      }
    }
    .login__control__panel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .login__btn {
      width: 100%;
      background-color: $material-green;
      color: white;
    }
    .password__field__icon {
      cursor: pointer;
    }
  }
}

.forget__password {
  color: #471ffa;
  font-size: 14px;
  margin: 10px 0;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
