<div class="main__container">
  <mat-card class="login__card">
    <mat-card-header>
      <mat-card-title class="login__title">Service Station IS</mat-card-title>
    </mat-card-header>
    <mat-card-content class="login__content">
      <mat-form-field class="login__field">
        <input
          type="email"
          matInput
          placeholder="Електронна пошта"
          [(ngModel)]="user.email">
      </mat-form-field>
      <mat-form-field class="login__field">
        <input
          matInput
          type="password"
          placeholder="Пароль"
          [(ngModel)]="user.password"
          [type]="hidePassword ? 'password' : 'text'">
        <mat-icon
          class="password__field__icon"
          matSuffix (click)="hidePassword = !hidePassword">
          {{hidePassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </mat-form-field>
      <mat-checkbox (click)="setTrueFalseForRememberPassword()">Запам'ятати</mat-checkbox>
    </mat-card-content>
    <mat-card-actions class="login__control__panel">
      <button
        type="submit"
        mat-button
        class="login__btn"
        (click)="signInWithEmail()"
      >Вхід
      </button>
      <span class="forget__password">Забули пароль?</span>
    </mat-card-actions>
  </mat-card>
</div>
