<nav>
  <app-user-navbar></app-user-navbar>
</nav>

<div class="main__content">
  <mat-card class="client__info__card">
    <mat-card-header>
      <mat-card-title>Вкажіть інформацію про замовлення</mat-card-title>
      <mat-card-subtitle>поля позначені * є обов'язковими</mat-card-subtitle>
    </mat-card-header>

    <form (ngSubmit)="addClient(addClientForm)" #addClientForm="ngForm">
      <mat-card-content>
        <h3>Загальна інформація</h3>
        <div class="client__info__container" ngModelGroup="clientInfo" #clientInfo="ngModelGroup">
          <app-datepicker (onChooseDate)="chooseDate($event)"></app-datepicker>
          <mat-form-field>
            <input matInput placeholder="ПІБ клієнта" #clientName autocomplete="off" name="name" ngModel>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              prefix="+38 "
              mask="(000) 000-0000"
              [showMaskTyped]="true"
              placeholder="Номер телефону"
              #clientPhoneNumber
              autocomplete="off"
              name="phoneNumber"
              ngModel>
            <mat-hint>Формат: +38 (000) 000-0000</mat-hint>
          </mat-form-field>
        </div>

        <h3>Авто</h3>
        <div class="car__info__container" ngModelGroup="carInfo" #carInfo="ngModelGroup">
          <mat-form-field>
            <input
              type="text"
              placeholder="Марка авто"
              aria-label="Марка авто"
              matInput
              #carMarque
              name="carMarque"
              [formControl]="marqueControl"
              [matAutocomplete]="autoMarqueField">
            <mat-autocomplete #autoMarqueField="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptionsMarque | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field>
            <input
              type="text"
              placeholder="Модель марки"
              aria-label="Модель марки"
              matInput
              #carModel
              name="carModel"
              [formControl]="modelControl"
              [matAutocomplete]="autoModelField">
            <mat-autocomplete #autoModelField="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptionsModel | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" mask="0000" placeholder="Рік випуску автомобіля" #carYear autocomplete="off"
                   name="carYear" ngModel>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Vin-код"
              mask="AAAAAAAAAAAAAAAAA"
              #vinCode
              autocomplete="off"
              name="vinCode"
              ngModel
              required>
            <mat-hint>Формат: 17 символів</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Реєстраційний номер" #carNumber autocomplete="off" name="carNumber" ngModel>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" placeholder="Пробіг (км)" #miles autocomplete="off" name="miles" ngModel>
          </mat-form-field>
        </div>

        <h3>Виконана робота</h3>
        <app-add-done-work
          #doneWorkComponent
          (onCollectWorkInfo)="collectWorkInfo($event)">
        </app-add-done-work>

        <h3>Додати запчастини</h3>
        <app-details-input
          #carDetailsComponent
          (onAddedDetailsInfo)="applyDetailsInfo($event)">
        </app-details-input>


      </mat-card-content>
      <mat-card-actions class="actions__panel">
        <button
          class="add__btn"
          mat-button
          type="submit"
        >ПІДТВЕРДИТИ
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
