@import "../../shared/scss-variables-mixins/variables-mixins.scss";

* {
  box-sizing: border-box;
}

.main__content {
  height: calc(100vh - 60px);
  overflow-y: auto;
}

.client__info__card {
  @include max-width(800px);
  margin: 20px auto;
  border-top: 5px solid $material-blue-dark;
}

div mat-form-field {
  margin: 10px 20px;
}

.actions__panel {
  display: flex;

  .add__btn {
    margin-left: auto;
    color: white;
    background-color: $material-green;
  }
}


