@import "../../shared/scss-variables-mixins/variables-mixins.scss";

* {
  box-sizing: border-box;
}

.main__content {
  height: calc(100vh - 60px);
  overflow-y: auto;
}

.client__info__card {
  @include max-width(800px);
  margin: 20px auto;
  border-top: 5px solid $material-blue-dark;
}

h3 {
  margin-top: 35px ;
}

.client__info__container,
.car__info__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  mat-form-field,
  app-datepicker {
    width: 30%;
  }
}

.actions__panel {
  display: flex;
  .add__btn {
    margin-left: auto;
    color: white;
    background-color: $material-green;
  }
}


